<li id="micropost-<%= vehicle.id %>">
  <span class="name"><%= vehicle.name %></span>
  <span class="matriculation"><%= vehicle.matriculation_date %></span>
  <%= link_to "delete", vehicle, method: :delete, data: { confirm: "You sure?" } %>
</li>