/* The following 2 imports are required by bootstrap-sass gem */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/* @import 'http://fonts.googleapis.com/css?family=Roboto:700,400'; */

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
  /* font-family: Roboto; */
}

a {
  text-decoration: none;
  color: #3498db;
}
a:hover {
  color: #2980b9;
  text-decoration: none;
}

.delete-link:hover {
  color: red;
  text-decoration: none;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* breadcrumbs */

.breadcrumb {
  background-color: white;
}

/* footer */

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}


/* debug console */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* users list */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* vehicle list */

.thumbnail {
  -webkit-box-shadow: 0px 1px 1px -1px rgba(51,51,51,1);
  -moz-box-shadow: 0px 1px 1px -1px rgba(51,51,51,1);
  box-shadow: 0px 1px 1px -1px rgba(51,51,51,1);
  border-radius: 0px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#user_remember_me {
  width: auto;
  margin-left: 0;
}

.uploader {
  padding: 10px;
}

.uploaded-image {
  padding-bottom: 10px;
}


/* CARDS */

/**
 * Helpers
 */

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
  box-shadow:
          0 1px 3px rgba(0,0,0, 0.12),
          0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
  background-color: #fff;
  margin-bottom: 1.6rem;
}

.card__padding {
  padding: 1.6rem;
}

.card__image {
  min-height: 100px;
  background-color: #eee;
}
.card__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.card__content {
  position: relative;
}

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
}
.card__article a:hover {
  color: #2980b9;
}

.card__article h2 {
  line-height: 1.2;
  margin-bottom: 1.6rem;
  text-align: left;
}

/* card action */

.card__share {
  float: right;
  position: relative;
  margin-top: -40px;
}

.edit-button:before {
  content: "\f040";
  font-family: 'FontAwesome';
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
}

.pic-button:before {
  content: "\f03e";
  font-family: 'FontAwesome';
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
}

.share-icon {
  text-decoration: none;
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #3498db;
  transition: all 0.3s ease;
  outline: 0;

  box-shadow:
          0 2px 4px rgba(0,0,0, 0.12),
          0 2px 4px rgba(0,0,0, 0.24);
}
.share-icon:hover,
.share-icon:focus {
  box-shadow:
          0 3px 6px rgba(0,0,0, 0.12),
          0 3px 6px rgba(0,0,0, 0.24);

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  text-decoration: none;
}

/* card in vehicle show page */

.card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}

.card-action a {
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}